Source: velora-desktop-environment
Section: metapackages
Priority: standard
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/velora-desktop-environment

Package: velora-desktop-environment-base
Architecture: any
Depends: adduser,
         apt,
         apt-utils,
         e2fsprogs,
         fdisk,
         gcc,
         gpgv,
         init,
         libzip5 | libzip4,
         lsb-base,
         mawk,
         mount,
         passwd,
         pciutils,
         sensible-utils,
         tzdata,
         udev,
         zlib1g,
         ${misc:Depends},
Description: Velora Desktop Environment
 This is a base meta package depends Velora Desktop Envrionment.
 .

Package: velora-desktop-environment-cli
Architecture: any
Depends: dpkg-dev,
         accountsservice,
         acpid,
         alsa-topology-conf,
         alsa-ucm-conf,
         alsa-utils,
         amd64-microcode [amd64],
         arj,
         avfs,
         bash-completion,
         bluez,
         cifs-utils,
         command-not-found,
         cryptsetup-initramfs,
         dbus,
         dbus-user-session,
         dialog,
         dkms,
         dmidecode,
         dnsutils,
         efibootmgr,
         exfat-fuse,
         exfatprogs,
         file,
         foomatic-db-compressed-ppds,
         foomatic-db-engine,
         fprintd,
         gcr,
         geoclue-2.0,
         grub-common,
         gtk2-engines,
         gtk2-engines-murrine,
         gtk2-engines-pixbuf,
         gvfs-backends,
         gvfs-fuse,
         hdparm,
         iio-sensor-proxy,
         im-config,
         initramfs-tools,
         intel-microcode [amd64],
         ipheth-utils,
         iputils-ping,
         less,
         lhasa,
         libc6-dev,
         libfile-mimeinfo-perl,
         libglib2.0-bin,
         libimobiledevice-utils,
         libmtp-runtime,
         libnss-myhostname,
         libpam-fprintd,
         libpam-gnome-keyring,
         libpulse-mainloop-glib0,
         librsvg2-bin,
         libspa-0.2-bluetooth,
         libtirpc-common,
         linux-sysctl-defaults,
         live-config,
         locales,
         lsb-release,
         lvm2,
         man-db,
         mesa-utils,
         mesa-utils-bin,
         mesa-va-drivers,
         mesa-vdpau-drivers,
         mesa-vulkan-drivers,
         modemmanager,
         ncompress,
         net-tools,
         network-manager,
         onboard,
         openprinting-ppds,
         os-prober,
         ostree,
         pipewire-pulse,
         pkg-config,
         plymouth,
         pppoe,
         proxychains4,
         pulseaudio,
         pulseaudio-module-bluetooth,
         pulseaudio-utils,
         python-is-python3,
         python3-dbus,
         python3-dnspython,
         python3-gi,
         python3-ldb,
         python3-samba,
         python3-smbc,
         python3-tdb,
         qttranslations5-l10n,
         redshift,
         rfkill,
         rsync,
         rzip,
         sdparm,
         slirp4netns,
         smbclient,
         sudo,
         tdb-tools,
         unace,
         unalz,
         unar,
         unzip,
         usb-modeswitch,
         usbmuxd,
         usbutils,
         user-setup,
         vim,
         wireless-tools,
         wireplumber,
         wpasupplicant,
         xdg-user-dirs,
         xdg-utils,
         xserver-xorg-core,
         xserver-xorg-input-all,
         xserver-xorg-input-wacom,
         xz-utils,
         zip,
         ethtool,
         ${misc:Depends},
Recommends: aptitude,
            bash-pinyin-completion,
            crda,
            hostapd,
            linux-firmware,
            lz4,
            lzip,
            lzma,
            lzop,
            unrar,
            usec-boot-crypt,
            xorg,
            xserver-xorg-input-wacom,
Conflicts: exfat-utils
Description: Velora Desktop Environment
 This is a cli meta package depends Velora Desktop Envrionment.
 .

Package: velora-desktop-environment-core
Architecture: any
Depends: accountsservice,
         cups,
         cups-bsd,
         cups-filters,
         ddm,
         dcc-network-plugin,
         dde-account-faces,
         dde-api,
         dde-appearance,
         dde-application-manager,
         dde-clipboard,
         dde-control-center,
         dde-crypto,
         dde-daemon,
         dde-dconfig-daemon,
         dde-desktop,
         dde-disk-mount-plugin,
         dde-file-manager,
         dde-launchpad,
         dde-polkit-agent,
         dde-qt5integration,
         dde-qt6integration,
         dde-services,
         dde-session,
         dde-session-shell,
         dde-session-ui,
         dde-shell,
         dde-tray-loader,
         dde-wirelesscasting-plugin,
         deepin-authenticate,
         velora-desktop-schemas,
         deepin-icon-theme,
         deepin-service-plugin-network,
         deepin-terminal,
         dock-network-plugin,
         dss-network-plugin,
         fcitx5-frontend-gtk2,
         fcitx5-frontend-gtk3,
         fcitx5-frontend-gtk4,
         fcitx5-frontend-qt5,
         fcitx5-frontend-qt6,
         fcitx5-pinyin-gui,
         fcitx5-table,
         fcitx5-unikey,
         fonts-lohit-deva,
         fonts-noto,
         fonts-noto-cjk,
         fonts-noto-color-emoji,
         fonts-noto-mono,
         fonts-noto-unhinted,
         fonts-open-sans,
         fonts-wqy-microhei,
         fonts-wqy-zenhei,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-ugly,
         lastore-daemon,
         libcupsimage2,
         libfcitx5gclient2,
         libime-bin,
         libvlc5,
         mokutil,
         network-manager-integration-plugins,
         samba,
         samba-common-bin,
         samba-dsdb-modules,
         samba-vfs-modules,
         simple-scan,
         systemd-timesyncd,
         treeland,
         treeland-wayland-session,
         util-linux-extra,
         xdg-desktop-portal,
         xfonts-wqy,
         gnome-keyring,
         ${misc:Depends},
Recommends: cups,
            dcc-insider-plugin,
            dde-cooperation,
            dde-device-formatter,
            dde-grand-search,
            dde-kwin (>= 6.0.0),
            deepin-settings-default | deepin-desktop-base,
            deepin-desktop-theme,
            deepin-face,
            velora-gtk-theme,
            deepin-network-displays,
            deepin-osconfig,
            deepin-recovery-plugin,
            deepin-sound-theme,
            deepin-sync-daemon,
            deepin-update-ui,
            fcitx5-theme-deepin,
            fonts-adobe-source-han-cjk,
            fonts-gb,
            fonts-macau,
            gstreamer1.0-fluendo-mp3,
            intel-media-va-driver-non-free [amd64],
            libudfburn [!riscv64 !loong64],
            linglong-bin,
            linglong-box,
            linglong-installer,
            ttf-deepin-opensymbol,
            uos-ste-resourced [!riscv64],
            xdg-desktop-portal-dde,
Description: Velora Desktop Environment
 This is a meta package depends Velora Desktop Envrionment.
 .

Package: velora-desktop-environment-extras
Architecture: any
Depends: velora-desktop-environment-core,
         ${misc:Depends},
Recommends: dde-calendar,
            dde-introduction,
            dde-manual-content,
            dde-printer,
            deepin-album,
            deepin-app-store-runtime,
            deepin-calculator [riscv64],
            deepin-camera [riscv64],
            deepin-compressor,
            deepin-data-transfer,
            deepin-deb-installer,
            deepin-default-settings,
            deepin-devicemanager,
            deepin-diskmanager,
            deepin-draw [riscv64],
            deepin-editor [riscv64],
            lingmo-fcitx5configtool-plugin,
            deepin-font-manager [riscv64],
            deepin-image-viewer [riscv64],
            deepin-log-viewer,
            deepin-mail [riscv64],
            deepin-movie [riscv64],
            deepin-music [riscv64],
            deepin-ocr,
            deepin-picker,
            deepin-reader [riscv64],
            deepin-screen-recorder,
            deepin-screensaver,
            deepin-shortcut-viewer,
            deepin-system-monitor,
            deepin-voice-note [riscv64],
            org.deepin.downloader,
            tlp,
            uos-ai,
            uos-ai-model-plugin,
Description: Velora Desktop Environment
 This is a extras package depends Velora Desktop Envrionment.
 .
 This package installs the standard set of applications that are
 part of the official Lingmo OS release.

Package: velora-desktop-environment-ll
Architecture: any
Depends: ${misc:Depends},
Pre-Depends: linglong-bin,
Description: Velora Desktop Environment
 This is a ll package depends Velora Desktop Envrionment.
 .
 This package installs the standard set of applications that are
 part of the official Lingmo OS  release.
